# Do not include gradle working files
/.gradle

# Do not include build infra or artifacts
/bin/*
/build/*

# Jave related
target/**
*.jar
*.war
*.ear
*.class

# eclipse specific
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings
.loadpath
.checkstyle

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
/build/

# Unzipped test connector
src/integrationTest/resources/pubsubplus-connector-kafka*/
