<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger -%msg%n%rEx{full, org}</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="STDOUT"/>
  </root>

  <logger name="org.testcontainers" level="TRACE"/>
  <logger name="com.github.dockerjava" level="TRACE"/>
</configuration>